
<div class="container-fluid z-depth-2 index">
<div class="container cards">
	<div class="row">

		<% if @homes.present? %>
		<% @homes.each do |h| %> 
		<div class="col m4 s6 cardmargin">
			<div class="card z-depth-4 card-panel hoverable">
				<div class="card-image ">
					<img src="http://www.hibernianhomesolutions.com/wp-content/uploads/2015/10/modern-home-design-backyard.jpg">
				</div>
				<div class="card-content">
<!-- 			<p><%= h.images %></p>	
 -->				<p><%= h.address %></p>
				<p><%= h.city %></p> 
				<p><%= h.state %></p> 
				<p><%= h.zip %></p> 
				</div>
			<div class="card-action">
				<a href="/homes/<%= h.id %>"class="waves-effect waves-light btn">View </a>

			</div>
</div>
</div>
<% end %>
<% else %>
<p> Sorry Your Search Returned No Results </p>
<% end %>

</div>
</div>
</div>
